
.details_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
}

.similar_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-items: stretch;
}

.details_img_poster{
    width: 350px;
    height: auto;
    transition: 0.3s ease-out;
    
}

.detail_movie_status{
    margin-top: 0px;
    border-radius: 25px;
    padding: 4px;
    color: black !important;
    font-size: small;
}

.status_released{
    background-color: greenyellow;
}

.status_waiting{
    background-color: tomato;
}

.movie_similar, .company_card{
    width: 250px;
    height: auto;
    max-height: 730px;
    /*height: 350px;*/
    padding: 10px;
    border-radius: var(--size-radius);
    border: 3px solid var(--color-shadow, currentColor);
    box-shadow: 0.5rem 0.5rem 0 var(--color-shadow, currentColor);
    margin: 20px;
    margin-bottom: 30px;
    transition: 0.3s ease-out;
    overflow: hidden;
    position: relative;
    background-color: var(--color-background);   
}

.movie_platforms img{
    width: 7%;
    min-width: 70px;
    max-width: 140px;
    height: auto;
    margin: 10px 10px 0px 0px;
    border-radius: 15px;
    transition: all 0.2s;
}

.movie_platforms img:hover{
    transform: scale(1.2);
}

.details_movie_description{
    height: 100px;
    font-size: small;
    overflow: auto;
}
.company_card{
    width: 200px;
}

.company_img{
    width: 100%;
    height: auto;
}

.companies_container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: stretch;
}

.img_similar_poster{
    max-width: 100%;
    max-height: 100%;
    transition: 0.3s ease-out;

}

.rating_similar{
    position: absolute;
    top: 8px;
    right: 16px;
    border-radius: 100px;
    padding: 8px;
}

.details_movie{
    width: 80%;
    /*min-height: 500px;*/
    max-height: 750px;
    /*height: 350px;*/
    /*padding: 10px;*/
    /*margin-right: 10%;*/
    border-radius: var(--size-radius);
	border: 3px solid var(--color-shadow, currentColor);
	box-shadow: 0.5rem 0.5rem 0 var(--color-soft-shadow, currentColor);
    margin: 20px;
    margin-bottom: 30px;
    transition: 0.3s ease-out;
    overflow: hidden;
    position: relative;
    /*border-bottom: 1px solid rgba(31.5, 31.5, 31.5, 1);*/
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--color-background);
    
}

.custom_bc{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    background-image: linear-gradient(to right, rgba(31.5, 31.5, 31.5, 1) calc((50vw - 170px) - 340px), rgba(31.5, 31.5, 31.5, 0.84) 50%, rgba(31.5, 31.5, 31.5, 0.84) 100%);
    margin: 0 !important;    
}

.details_movie_info{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    margin-left: 35px;
}

.details_movie_info *{
    color: white;
}


.details_rating{
    border-radius: 100px;
    padding: 8px;
    color: #000;
}

.details_movie_link {
    text-decoration: none;
    list-style: none;
    transform: translateY(20px);
    transition: 0.5s;
    opacity: 1;
    position: relative;
    display: inline-block;
    color: white;
}

.details_movie_link::before {
    content: '';
    background: #fab700;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}

.details_movie_link:hover {
    background-image: linear-gradient(to right, #fab700, #fab700 50%, #000 50%);
    background-size: 200% 100%;
    background-position: -100%;
    -webkit-background-clip: text;
    background-clip: text;
}

.details_movie_link:hover::before {
    width: 100%;
}

.movie_languages{
    margin-top: 30px;
}


/* Hover Effect */

.movie_similar_description{
    bottom: 50px;
    display: flex;
    margin-bottom: 15px;
}

.movie_similar:hover .movie_similar_description{
    transform: translateY(0px);
	opacity: 1;
    cursor: pointer;
}
.movie_similar:hover{
    cursor: pointer;
    /*box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);*/
    box-shadow: 0.5rem 0.5rem 10px var(--color-shadow, currentColor);
}

.movie_similar:hover .img_similar_poster{
    transform: scale(1.1);
}


.movie_similar_description{
    list-style: none;
	/*margin: 0 10px;*/
	transform: translateY(40px);
	transition: 0.5s;
	opacity: 0;
}

.movie_similar_description{
    background-image: linear-gradient(to right, #fab700, #fab700 50%, #000 50%);
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}
.movie_similar_description:before {
    content: '';
    background: #fab700;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}
.movie_similar_description:hover {
    background-position: 0;
}
.movie_similar_description:hover::before {
    width: 100%;
}

.similar_title, .companies_title{
    margin-left: 20px;
}


.list_button_details{
    margin-left: 15px;
}

.list_button_details:hover{
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 33px 1px rgba(250,183,0,1);
    -moz-box-shadow: 0px 0px 33px 1px rgba(250,183,0,1);
    box-shadow: 0px 0px 33px 1px rgba(250,183,0,1);
}
