.item_menu{
    display: inline;
    padding: 10px;
    float: left;
    letter-spacing: 1px;
    text-shadow: 2px 2px 5px gray;
    margin: 20px;

}
.item_menu {
    position: relative;
}
.item_menu::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #18272f;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}
.item_menu:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}
.perfil{
    float: right;
    
}
.logomoviegoing{
    width: 100px;
    margin-top: -15px;
    margin-left: -15px;
}


.randombutton{
    background: black;
    cursor: pointer;
    border: none;
    padding: 16px 32px;
    color: #FFF;
    font-size: 20px;
    font-weight: bolder;
    position:relative;
    border-radius: 35px;
    z-index: 5  ;
    
}

.randombutton::before{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg,red,blue,deeppink,blue,red,blue,deeppink,blue);
    background-size: 800%;
    border-radius: 10px;
    filter: blur(8px);
    animation: glowing 20s linear infinite;
  
}
@keyframes glowing{
    0% {
        background-position: 0 0;
    }
    50%{
        background-position: 400% 0;
    }
    100%{
        background-position: 0 0;
    }
}
.random_container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;

}

.movie{
    width: 250px;
    /*height: auto;*/
    min-height: 525px;
    max-height: 525px;
    /*height: 350px;*/
    padding: 10px;
    border-radius: var(--size-radius);
	border: 3px solid var(--color-shadow, currentColor);
	box-shadow: 0.5rem 0.5rem 0 var(--color-shadow, currentColor);
    margin: 20px;
    margin-bottom: 30px;
    transition: 0.3s ease-out;
    overflow: hidden;
    position: relative;
    background-color: var(--color-background);
}
.img_poster{
    max-width: 100%;
    max-height: 100%;
    transition: 0.3s ease-out;

}
.cartelera_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.last_movies_title{
    padding: 10px;
    margin: 20px;
    margin-left: 30px;
}
.movie{
    width: 250px;
    /*height: auto;*/
    min-height: 525px;
    max-height: 525px;
    /*height: 350px;*/
    padding: 10px;
    border-radius: var(--size-radius);
	border: 3px solid var(--color-shadow, currentColor);
	box-shadow: 0.5rem 0.5rem 0 var(--color-shadow, currentColor);
    margin: 20px;
    margin-bottom: 30px;
    transition: 0.3s ease-out;
    overflow: hidden;
    position: relative;
    background-color: var(--color-background);
}
.rating{
    position: absolute;
    top: 8px;
    right: 16px;
    border-radius: 100px;
    padding: 8px;
}
h1{
    padding: 10px;
    margin: 20px;
    margin-left: 30px;
}

.movie p{
    margin-top: 30px;
}

.img_poster{
    max-width: 100%;
    max-height: 100%;
    transition: 0.3s ease-out;

}

.movie_description{
    bottom: 50px;
    display: flex;
    margin-bottom: 15px;
}
.movie:hover .movie_description{
    transform: translateY(0px);
	opacity: 1;
    cursor: pointer;
}
.movie:hover{
    cursor: pointer;
    /*box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);*/
    box-shadow: 0.5rem 0.5rem 10px var(--color-shadow, currentColor);
}
.movie:hover .img_poster{
    transform: scale(1.1);
}
.movie_description{
    list-style: none;
	/*margin: 0 10px;*/
	transform: translateY(40px);
	transition: 0.5s;
	opacity: 0;
}

.movie_description{
    background-image: linear-gradient(to right, #fab700, #fab700 50%, #000 50%);
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}
.movie_description:before {
    content: '';
    background: #fab700;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}
.movie_description:hover {
    background-position: 0;
}
.movie_description:hover::before {
    width: 100%;
}
/* CONTAINER */

.all_movies_container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}
/* END CONTAINER */

.filters{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    align-items: flex-start;
    padding-right: 20px;
    /*margin-left: 20px;*/
}

.filter_title{
    /*margin-left: 20px;*/
    width: 100%;
    cursor: pointer;
    background-color: #E1E6F9;
    padding: 10px;
    padding-left: 25px;
    padding-right: 15px;
    padding-bottom: 15px;
    z-index: 99;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-bottom: 0 !important;
    white-space: nowrap;
}

.filter_title i{
    margin-left: 7px;
    font-size: large;
    transition: all 0.3s;
    display: inline-block;
    white-space: nowrap;
}

.filters_item{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    white-space: nowrap;
    /*overflow: hidden;*/
}

/* CheckBox */
@supports (-webkit-appearance: none) or (-moz-appearance: none) {
    .checkbox-wrapper-13 input[type=checkbox] {
      --active: #275EFE;
      --active-inner: #fff;
      --focus: 2px rgba(39, 94, 254, .3);
      --border: #BBC1E1;
      --border-hover: #275EFE;
      --background: #fff;
      --disabled: #F6F8FF;
      --disabled-inner: #E1E6F9;
      -webkit-appearance: none;
      -moz-appearance: none;
      height: 21px;
      outline: none;
      display: inline-block;
      vertical-align: top;
      position: relative;
      cursor: pointer;
      border: 1px solid var(--bc, var(--border));
      background: var(--b, var(--background));
      transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
    }
    .checkbox-wrapper-13 input[type=checkbox]:after {
      content: "";
      display: block;
      left: 0;
      top: 0;
      position: absolute;
      transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
    }
    .checkbox-wrapper-13 input[type=checkbox]:checked {
      --b: var(--active);
      --bc: var(--active);
      --d-o: .3s;
      --d-t: .6s;
      --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
    }
    .checkbox-wrapper-13 input[type=checkbox]:disabled {
      --b: var(--disabled);
      cursor: not-allowed;
      opacity: 0.9;
    }
    .checkbox-wrapper-13 input[type=checkbox]:disabled:checked {
      --b: var(--disabled-inner);
      --bc: var(--border);
    }
    .checkbox-wrapper-13 input[type=checkbox]:disabled + label {
      cursor: not-allowed;
    }
    .checkbox-wrapper-13 input[type=checkbox]:hover:not(:checked):not(:disabled) {
      --bc: var(--border-hover);
    }
    .checkbox-wrapper-13 input[type=checkbox]:focus {
      box-shadow: 0 0 0 var(--focus);
    }
    .checkbox-wrapper-13 input[type=checkbox]:not(.switch) {
      width: 21px;
    }
    .checkbox-wrapper-13 input[type=checkbox]:not(.switch):after {
      opacity: var(--o, 0);
    }
    .checkbox-wrapper-13 input[type=checkbox]:not(.switch):checked {
      --o: 1;
    }
    .checkbox-wrapper-13 input[type=checkbox] + label {
      display: inline-block;
      vertical-align: middle;
      cursor: pointer;
      margin-left: 4px;
    }

    .checkbox-wrapper-13 input[type=checkbox]:not(.switch) {
      border-radius: 7px;
    }
    .checkbox-wrapper-13 input[type=checkbox]:not(.switch):after {
      width: 5px;
      height: 9px;
      border: 2px solid var(--active-inner);
      border-top: 0;
      border-left: 0;
      left: 7px;
      top: 4px;
      transform: rotate(var(--r, 20deg));
    }
    .checkbox-wrapper-13 input[type=checkbox]:not(.switch):checked {
      --r: 43deg;
    }
  }

  .checkbox-wrapper-13 * {
    box-sizing: inherit;
  }
  .checkbox-wrapper-13 *:before,
  .checkbox-wrapper-13 *:after {
    box-sizing: inherit;
  }
/* End CheckBox */

.genre_filters p{
    display: none;
    transition: all 0.3s ease;  
    opacity: 0;
    margin-left: 20px;
    padding: 5px;
    padding-right: 25px;
    width: 19%;
    min-width: 255px;

}

.filters_container{
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    -webkit-box-shadow: inset -9px -10px 20px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: inset -9px -10px 20px -6px rgba(0,0,0,0.75);
    box-shadow: inset -9px -10px 20px -6px rgba(0,0,0,0.75);
}

.genre_filters{
    position: absolute;
    margin-top: 50px;
    z-index: 98;
    background-color: #E1E6F9;
    opacity: 0;
}


/* AQUI */

.arrow_active{
    transition: all 0.3s;
    transform: rotateZ(180deg);
}

/* Slider bar */
/*
 * 16 February 2022
 * Range Slider Progress in Chrome with pure CSS
 *
 * === This CodePen demonstrates how we can implement range slider "progress fill" in Webkit browsers using a `clip-path` and a `box-shadow` ===
 *
 * === There is an open issue about Standardizing input[type="range"] styling (https://github.com/w3c/csswg-drafts/issues/4410). For all I know, it hasn't been implemented yet ===
 *
 * === This demo is meant for Chrome browsers. But it'll also work in Firefox because Firefox provides the `::-moz-range-progress` pseudo-class ===
 *
 * more info. in the details view
 *
 */
 
 /* === range theme and appearance === */
 .vote_average, .vote_average input{
    box-sizing: border-box;
 }
 input[type="range"] {
     font-size: 1.5rem;
     width: 12.5em;
 }
 
 input[type="range"] {
     color: #ef233c;
     --thumb-height: 1.125em;
     --track-height: 0.125em;
     --track-color: rgba(0, 0, 0, 0.2);
     --brightness-hover: 180%;
     --brightness-down: 80%;
     --clip-edges: 0.125em;
 }
 
 input[type="range"].win10-thumb {
     color: #2b2d42;
 
     --thumb-height: 1.375em;
     --thumb-width: 0.5em;
     --clip-edges: 0.0125em;
 }
 
 @media (prefers-color-scheme: dark) {
 
     input[type="range"] {
         color: #f07167;
         --track-color: rgba(255, 255, 255, 0.1);
     }
 
     input[type="range"].win10-thumb {
         color: #3a86ff;
     }
 }
 
 /* === range commons === */
 input[type="range"] {
     position: relative;
     background: #fff0;
     overflow: hidden;
 }
 
 input[type="range"]:active {
     cursor: grabbing;
 }
 
 input[type="range"]:disabled {
     filter: grayscale(1);
     opacity: 0.3;
     cursor: not-allowed;
 }
 
 /* === WebKit specific styles === */
 input[type="range"],
 input[type="range"]::-webkit-slider-runnable-track,
 input[type="range"]::-webkit-slider-thumb {
     -webkit-appearance: none;
     transition: all ease 100ms;
     height: var(--thumb-height);
 }
 
 input[type="range"]::-webkit-slider-runnable-track,
 input[type="range"]::-webkit-slider-thumb {
     position: relative;
 }
 
 input[type="range"]::-webkit-slider-thumb {
     --thumb-radius: calc((var(--thumb-height) * 0.5) - 1px);
     --clip-top: calc((var(--thumb-height) - var(--track-height)) * 0.5 - 0.5px);
     --clip-bottom: calc(var(--thumb-height) - var(--clip-top));
     --clip-further: calc(100% + 1px);
     --box-fill: calc(-100vmax - var(--thumb-width, var(--thumb-height))) 0 0
         100vmax currentColor;
 
     width: var(--thumb-width, var(--thumb-height));
     background: linear-gradient(currentColor 0 0) scroll no-repeat left center /
         50% calc(var(--track-height) + 1px);
     background-color: currentColor;
     box-shadow: var(--box-fill);
     border-radius: var(--thumb-width, var(--thumb-height));
 
     filter: brightness(100%);
     clip-path: polygon(
         100% -1px,
         var(--clip-edges) -1px,
         0 var(--clip-top),
         -100vmax var(--clip-top),
         -100vmax var(--clip-bottom),
         0 var(--clip-bottom),
         var(--clip-edges) 100%,
         var(--clip-further) var(--clip-further)
     );
 }
 
 input[type="range"]:hover::-webkit-slider-thumb {
     filter: brightness(var(--brightness-hover));
     cursor: grab;
 }
 
 input[type="range"]:active::-webkit-slider-thumb {
     filter: brightness(var(--brightness-down));
     cursor: grabbing;
 }
 
 input[type="range"]::-webkit-slider-runnable-track {
     background: linear-gradient(var(--track-color) 0 0) scroll no-repeat center /
         100% calc(var(--track-height) + 1px);
 }
 
 input[type="range"]:disabled::-webkit-slider-thumb {
     cursor: not-allowed;
 }
 
 /* === Firefox specific styles === */
 input[type="range"],
 input[type="range"]::-moz-range-track,
 input[type="range"]::-moz-range-thumb {
     appearance: none;
     transition: all ease 100ms;
     height: var(--thumb-height);
 }
 
 input[type="range"]::-moz-range-track,
 input[type="range"]::-moz-range-thumb,
 input[type="range"]::-moz-range-progress {
     background: #fff0;
 }
 
 input[type="range"]::-moz-range-thumb {
     background: currentColor;
     border: 0;
     width: var(--thumb-width, var(--thumb-height));
     border-radius: var(--thumb-width, var(--thumb-height));
     cursor: grab;
 }
 
 input[type="range"]:active::-moz-range-thumb {
     cursor: grabbing;
 }
 
 input[type="range"]::-moz-range-track {
     width: 100%;
     background: var(--track-color);
 }
 
 input[type="range"]::-moz-range-progress {
     appearance: none;
     background: currentColor;
     transition-delay: 30ms;
 }
 
 input[type="range"]::-moz-range-track,
 input[type="range"]::-moz-range-progress {
     height: calc(var(--track-height) + 1px);
     border-radius: var(--track-height);
 }
 
 input[type="range"]::-moz-range-thumb,
 input[type="range"]::-moz-range-progress {
     filter: brightness(100%);
 }
 
 input[type="range"]:hover::-moz-range-thumb,
 input[type="range"]:hover::-moz-range-progress {
     filter: brightness(var(--brightness-hover));
 }
 
 input[type="range"]:active::-moz-range-thumb,
 input[type="range"]:active::-moz-range-progress {
     filter: brightness(var(--brightness-down));
 }
 
 input[type="range"]:disabled::-moz-range-thumb {
     cursor: not-allowed;
 }

 .slider_average{
    display: none;
    margin-left: 20px;
    margin-right: 25px;
}
.slider_container{
    position: absolute;
    z-index: 98;
    background-color: #E1E6F9;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    margin-top: 110px !important;
 }

 .slider_container{
    z-index: 90;
 }
/* End Slider bar */

.title_average{
    z-index: 97;
}



.average_show{
    display: none;
}

.filter_active, .filter_active p, .filter_active input{
    display: block;
    opacity: 1;
}